@import url('https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css');
.body {
    margin: 5% 5%;
    background: #e5f4f9;
    border-radius: 15px;
    /* border-color: #4a9cfa;
    box-shadow: inset 0 0 30px #6399eb */
}

.media-content {
    background: rgb(215, 231, 245);
    border-radius: 16px;
    padding: 15px 20px;
}